@import "../assets/color.scss";

$max-width: 1132px;

.container {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

.cfixed::after,
.container::after {
  content: "";
  display: block;
  clear: both;
}

.blind {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.sec-tit {
  font-size: 42px;
  color: $main-color;
  font-weight: normal;
}

.divider {
  width: 90%;
  min-width: $max-width;
  margin: 0 auto;
  margin-top: 77px;
  background-color: #eee;
}

.m-divider {
  width: 20px;
  margin: 0 auto;
  margin-top: 77px;
  background-color: $main-color;
}

